@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

html{
    font-size: 18px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e3e9ff
  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#af7eeb ;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.4rem;
  color: #f7f2fd;
  font-size: 1.2rem;
  
}
form{
  background-color: #af7eeb;
  color: white;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* input */
.custom-input {
  background-color: white;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0.4rem;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 80%;
}

.custom-input:hover,
.custom-input:focus {
  opacity: .75;
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: gray;
}

.task-list{
  display: flex;
  justify-content: space-between;
  align-items: left;
  width: 90%;
}
.list-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.task-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0.6rem;
  
}



/* buttons */


.btn-delete{
background-color: transparent;
border: none;
cursor: pointer;
}


.btn-modal {
  background-color: #af7eeb;
  border-radius: 5rem;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0.8rem;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
}

.btn-modal:hover,
.btn-modal:focus {
  opacity: .75;
}


.btn-add {
  background-color: whitesmoke;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0.8rem;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 80%;
}

.btn-add:hover,
.btn-add:focus {
  opacity: .75;
}


@media (min-width : 768px) {
  .container{
    width: 50%;
  }
}